<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/Shop.css" />
    <link rel="stylesheet" href="/css/Navbar.css" />
  </head>
  <body>
    <%-include("./includes/Navbar.ejs",{loggedIn:loggedIn})%>

    <section class="shop-section">
      <% if(products.length>0) {%> <% for (let product of products) {%>
      <div class="card">
        <div class="card-image-div">
          <img src="<%=product.imgUrl%>" alt="image" class="card-image" />
          <div class="price-div">$<%=product.price%></div>
        </div>
        <div class="text-content">
          <h1 class="card-image-div_heading"><%=product.title%></h1>
          <p class="card-image-div_description"><%=product.description%></p>
        </div>
        <div class="card-controls">
          <%if(!editing){%>
          <a href="/products/<%=product._id%>" class="detail-btn"
            >View Details</a
          >
          <a href="/user/cart/add/<%=product._id%>" class="cart-btn"
            >Add To Cart</a
          >
          <%}else{%>
          <a href="/admin/edit-product/<%=product._id%>" class="cart-btn"
            >Edit
          </a>
          <a href="/admin/delete-product/<%=product._id%>" class="detail-btn"
            >Delete Product</a
          >
          <%}%>
        </div>
      </div>
      <%}%> <%} else {%>
      <p>No products to show</p>
      <%}%>
    </section>
  </body>
</html>
